.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.container > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .5rem;
}

.container label{
    display: flex;
    justify-content:space-between;
    gap: .3rem;
    width: 30rem;
}

.container input {
    width: 15rem;
}

.container > form > input {
    color: white;
    border-radius: 4px;  
    font-size: 1rem;  
    border: none;
    padding: 1rem;
    background-color:rgb(167, 167, 167);
    align-self: flex-end;
}
