.contenedor {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  /* background: #d9d9d9; */
  border-radius: 0px 0px 15px 15px;
  box-shadow: 3px 3px 20px 3px rgba(0, 0, 0, 0.45);
}

.contenedor img {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 60%;
  border: 1px solid rgb(97, 97, 97);
}

.contenedor2 {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}
.contenedor2 h2 {
  margin-top: 12px;
}

.contenedorIcon {
  margin-top: 22px;
}

.contenedorInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
}

.contenedorInfo h4 {
  margin-right: 30px;
}
