.paginado {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.paginadoBtn {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  gap: 0.5rem;
  z-index: 90;
}

.paginadoBtn li {
  padding: 0.8rem;
  border: 1px solid;
  border-color: black;
  border-radius: 10px;
  cursor: pointer;
  background-color: #bebcbc;
}

.paginadoBtn li:hover {
  background-color: #bebcbc;
  color: white;
}

.paginadoBtn li.active {
  padding: 0.5rem;
  border: 2px solid;
  border-color: rgb(66, 66, 66);
  cursor: pointer;
  background-color: #5e5d5d;
  color: white;
}

.active {
  cursor: pointer;
  background-color: rgb(66, 66, 66);
}
