.containerAll {
  display: flex;
  margin-top: 5rem;
  justify-content: center;
  min-height: 100%;
  position: relative;
  z-index: 100px;
}

.paginado {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.paginadoBtn {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  gap: 0.5rem;
  z-index: 90;
}

.paginadoBtn li {
  padding: 0.8rem;
  border: 1px solid;
  border-color: black;
  border-radius: 10px;
  cursor: pointer;
}

.paginadoBtn li:hover {
  background-color: rgb(71, 89, 141);
  color: white;
}

.paginadoBtn li.active {
  padding: 0.5rem;
  border: 2px solid;
  border-color: royalblue;
  cursor: pointer;
  background-color: rgb(71, 89, 141);
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* width: 320px;
  height: 400px; */
  margin: 60px;
}
