.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  width: 100%;
  height: 100%;
  width: 320px;
  height: 400px;
  margin: 20px;
  /* background: #d9d9d9; */
  border-radius: 0px 0px 15px 15px;
  box-shadow: 3px 3px 20px 3px rgba(0, 0, 0, 0.45);
  animation: show 2s;
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.container:hover {
  scale: 102%;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: repeat;
  overflow: hidden;
  width: 100%;
  height: 230px;
  background-position: "center";
  border-bottom: 0.2px solid rgb(126, 125, 125);
  /* border: 1px solid rgb(97, 97, 97); */
}

.container2 {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5px 15px 5px 15px;
  width: 100%;
  height: 23%;
}
.container2 h3 {
  margin-top: 12px;
  color: rgb(87, 87, 87);
  font-size: 1.3rem;
}

.containerInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px 15px 15px;
}

.containerInfo h4 {
  margin-right: 30px;
  color: rgb(87, 87, 87);
  font-size: 1rem;
}

.containerFav {
  display: flex;
  margin: 0px;
  color: rgb(48, 48, 48);
  height: 20px;
  margin-left: 15px;
}
.containerFavRed {
  display: flex;
  margin: 0px;
  color: rgb(248, 6, 6);
  height: 20px;
  margin-left: 15px;
}
.buttonA:focus {
  outline: none;
}

.containerIcon {
  display: flex;
  margin: 0px;
  color: rgb(48, 48, 48);
}

.carousel {
  /* font-family: sans-serif; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.carouselCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 480px;
  width: 100%;
  background-color: #00008b;
  color: #fff;
  margin: 0 15px;
  /* font-size: 4em; */
}
