.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 0.2rem;
  /* border-bottom: rgb(58, 58, 58) solid 1px; */
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 10;
}

.container > img {
  width: 30px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.buttons button {
  color: rgb(87, 87, 87);
  border: none;
  width: 5.5rem;
  height: 2.5rem;
  padding: 0.6rem;
  border-radius: 4px;
}

.buttons button:hover {
  scale: 1.02;
}

.buttons button:active {
  scale: 0.98;
}

.displayMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.displayMenu > button {
  border-radius: 0;
  border: none;
}

.displayMenu > button:hover {
  color: brown;
  background-color: rgb(3, 3, 3);
}

.container img {
  margin-top: 20px;
  height: 140px;
}

.img {
  height: 30px;
}
