.continer{
    padding: 10px;
    display: flex;
    justify-content: center;
}
.select{
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
    margin: 0 10px 0 10px;
    font-size: 15px;
}

.btn{
    background-color: white;
    border: 0px;
}
.btn:hover{
    cursor: pointer;
}